li {
	font-size: 14px;
}
a {
	font-family: "OswaldFont", "Sans Serif";
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: lightblue;
}
a:active {
	text-decoration: none;
}
