table, th, td {
	border: 2px solid silver;
	border-collapse: collapse;
	font-family: "OswaldFont", "Sans Serif";
}
td {
	text-align: center;
	font-size: 12px;
}
th {
	border-bottom: 3px solid gray;
}
a, li, h3, h2 {
	font-family: arial, sans-serif;
}
li {
	font-size: 14px;
}