table, td, th {
	border: 2px solid gray;
	border-collapse: collapse;
	font-family: "OswaldFont", "Sans Serif";
	background-color: lightyellow;
}
tbody, td {
	font-style: italic;
	text-align: center;
	font-size: 12px;
}
thead, th{
	border-bottom: 3px solid gray;
	font-family: "OswaldFont", "Sans Serif";
	background-color: lightblue;
}
li {
	font-size: 14px;
}
a {
	font-family: "OswaldFont", "Sans Serif";
}
a:link {
	text-decoration: none;
}
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	background-color: lightblue;
}
a:active {
	text-decoration: none;
}
